body{
    width: 60vh;
    margin: 0;
    padding: 0;
    display: flex;
}

:root {
    --myFont: "Gowun Batang", serif;
}

/* left side of page */

.backImg{
    background-image: url('suf-image.avif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vh;
    height: 100vh;
    margin: 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.odin-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    opacity: 65%;
    width: 35vh;
    margin: 0;
}

img {
    height: 130px;
    width: 100px;
}

.odin-logo-container > p {
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--myFont);
}

.backgroundImg-footer {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    top: 320px;
    font-size: 0.75rem;
    font-family: var(--myFont);
    opacity: 80%;
}

p > span {
    text-decoration: underline;
}

/* left side of page */


/* Input section  */


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vh;
}

.message {
    padding-left: 30px;
    font-size: 1.25rem;
    position: relative;
    bottom: 20px;
    font-weight: 500;
}

.form-message {
    font-size: 2rem;
    font-family: var(--myFont);
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.message-div {
    margin-bottom: 6px;
}

.input-group {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px; 
}

input {
    margin: 2px  60px 10px 0; 
    flex: 1; 
}

label {
    flex: 1; 
}


/* Input section  */




/* Create Account button and text below it */

.btnContainer {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
    font-family: var(--myFont);
}

button {
    background-color: rgb(90, 90, 40);
    font-family: var(--myFont);
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}




/* Create Account button and text below it */